*
{
   margin: 0;
   padding: 0;
}


.content
{font-family: good-times;
    font-size: 11rem;
    line-height: 10rem;
    background-color: black;
    color:rgb(189, 172, 222);
}

body{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

